<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
  <main class="container">
    <h1>Project</h1>
    <form action="/data1">
      <h6>
        <center>Content1</center>
      </h6>
      <button>Type 1</button>
    </form>
    <h2></h2>
    <form action="/data2">
      <h6>Content2</h6>
      <button>Type 2</button>
    </form>
    <h2></h2>
    <form action="/image">
      <h6>Image</h6>
      <button>Image</button>
    </form>
    <h2></h2>
    <form action="/Prac">
      <h6>Prac</h6>
      <button>Prac</button>
    </form>
    <h2></h2>
    <form action="/graph">
      <h6>graph</h6>
      <button>graph</button>
    </form>
  </main>
</body>

</html>