<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team SPS</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <main class="container" style="padding-top: 40px; padding-bottom: 10px;">
        <h3>1. 기존 데이터 상관관계 분석</h3>
        <div class="grid">
            <div>{{ graph_html_1|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px; padding-bottom: 10px;">
        <h3>2. 예측 데이터(5일) 상관관계 분석</h3>
        <div class="grid">
            <div>{{ graph_html_2|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px; padding-bottom: 10px;">
        <h3>3. 기존 + 예측 데이터 상관관계 분석</h3>
        <div class="grid">
            <div>{{ graph_html_3|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px;">
        <a href="{{url1}}" role="button" style="float: right;">Next</a>
    </main>
</body>

</html>