<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team SPS</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <main class="container" style="padding-top: 40px; padding-bottom: 10px;">
        <h2></h2>
        <details open>
            <summary>
                <h3>Polynomial 분석방법이란?</h3>
            </summary>
            <p>
                Polynomial 분석방법은 데이터를 분석하고 모델링하기 위해 사용되는 통계적인 기법 중 하나입니다.<br>
                이 방법은 관찰된 데이터 포인트들 간의 다항식 관계를 모델링하고 예측하는 데 사용됩니다.<br>
                <br>
                Polynomial 분석방법은 주로 회귀 분석에 적용되며, 관측된 데이터 포인트들을 가장 잘 설명하는 다항식 함수를 찾습니다.<br>
                다항식은 다양한 차수(degree)를 가질 수 있으며, 예를 들어 1차, 2차, 3차 다항식 등이 있습니다.<br>
                이 다항식들은 데이터의 패턴과 관련된 정보를 제공하며, 적합한 다항식을 찾는 것은 데이터에 대한 이해를 높이고 예측 모델을 구축하는 데 도움을 줍니다.<br>
                <br>
                Polynomial 분석방법은 선형 회귀와 유사하게 작동하지만, 다항식의 항을 추가하여 더 복잡한 패턴을 설명할 수 있습니다.<br>
                이 방법은 곡선 모양의 데이터에 잘 적용되며, 비선형적인 관계를 포착할 수 있습니다.<br>
                <br>
                Polynomial 분석방법은 다양한 분야에서 응용됩니다. 예를 들어, 자연과학, 공학, 경제학 등에서는 다항식을 사용하여 현상을 설명하고 예측하는 데 활용됩니다.<br>
                또한, 데이터 분석과 예측 모델링에 관심이 있는 비즈니스 분야에서도 Polynomial 분석방법을 활용하여 의사 결정을 지원할 수 있습니다.<br>
                <br>
                Polynomial 분석방법은 데이터의 복잡한 패턴을 모델링하고 예측하기 위한 강력한 도구입니다. 이 방법을 활용하여 데이터에 내재된 관계를 탐색하고 유용한 정보를 추출할 수 있습니다.


            </p>
        </details>
        <header style="padding: 20px;">
            <h1>Polynomial Graph</h1>
        </header>
        <div class="grid">
            <div>{{ graph_html_1|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px; padding-bottom: 0px;">
        <div class="grid">
            <div>{{ graph_html_2|safe }}</div>
            <div>{{ graph_html_3|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px; padding-bottom: 0px;">
        <div class="grid">
            <div>{{ graph_html_4|safe }}</div>
            <div>{{ graph_html_5|safe }}</div>
        </div>
    </main>
    <main class="container" style="padding-top: 40px;">
        <a href="{{url1}}" role="button" style="float: right;">Next</a>
    </main>
</body>

</html>