<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team SPS</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <main class="container" style="padding-top: 40px;">
        <header style="padding: 20px;">
            <h1>삼성전자 예측</h1>
        </header>
        <div class="grid">
            <div>{{ graph_html_1|safe }}</div>
        </div>
        <h2></h2>
        <details open>
            <summary>
                <h2>삼성전자 주식 예측</h2>
            </summary>
            <ul>
                <li>삼성전자 주식은 코스피200 지수하고 가장 연관성이 높음.<br>
                    코스피200 지수가 오르면 삼성전자 주식도 오르고, 떨어지면 같이 떨어지는 연관성을 보입니다.</li>
                <br>
                <li>환율은 그 다음으로 연관성이 높음. 환율도 코스피200 지수와 마찬가지로<br>
                    오르면 같이 오르고, 떨어지면 같이 떨어지는 연관성을 보이고 있습니다.
                </li>
                <br>
                <li>CD91지수는 코스피200, 환율 그 다음으로 연관성을 보이고 있습니다.<br>
                    하지만 CD91지수는 삼성전자 주식과 역상성 관계를 가지고 있습니다.<br>
                    CD91지수가 오르면 삼성전자 주식이 떨어지고, CD91지수가 내려가면 삼성전자 주식이 오르는 관계를 가집니다.
                </li>
                <br>
                <li>
                    유가는 삼성전자의 주식과 연관성의 거의 없습니다.<br>
                    삼성전자 주식을 매수나 매도 할 때 유가는 거의 신경 안써도 된다는 수치가 나타납니다.
                </li>
                <br>
                <li>
                    삼성전자 주식을 매수 하거나 매도를 할때, 위의 연관관계를 참고해서 진행하면 조금더 안정적인 투자가 가능할 것 같습니다.<br>
                    하지만 정책이라던지, 급변하는 상황에 따라서 주식이라는 것은 바뀔 수 있기 때문에 전적으로 신뢰를 하기는 어려움이 있습니다.<br>
                </li>
                <br>
            </ul>
        </details>

    </main>
</body>

</html>