<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team SPS</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <main class="container" style="padding-top: 40px;">
        <header style="padding: 20px;">
            <h1>삼성전자 예측</h1>
        </header>
        <div class="grid">
            <div>{{ graph_html_1|safe }}</div>
        </div>
        <h2></h2>
        <details>
            <summary>결론</summary>
            <ul>
                <li>결론1</li>
                <br>
                <li>결론2</li>
                <br>
                <li>결론3</li>
                <br>
            </ul>
        </details>

    </main>
</body>

</html>